//Define all custom variables

//Fonts
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

$serif: 		'Bitter', 'Times News Roman', serif;
$sans-serif: 	Helvetica, Arial, sans-serif;


// Colors

$white: 	#eee;
$black: 	#111;

$grey: 		#2f2f2f;

