/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */




@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "_grid.scss";
@import "_mixins.scss";
@import "_base.scss";
@import "_progress.scss";


// Style

html {
	background: $grey;
	font-size: 100%;
	font-family: $serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; 
}

<<<<<<< HEAD
a{
	color: $white;
	font-weight: bold;
	text-decoration:none;

}

a:hover {
	text-decoration: underline;	
}

=======
>>>>>>> gh-pages
nav {
	display:none;
}


section {
<<<<<<< HEAD
=======
	width: 70%;
>>>>>>> gh-pages
	@include breakpoint(big) { width: 60%; }
  	@include breakpoint(medium) { width: 80%; }
 	@include breakpoint(small) { width: 95%; }
 	margin: 0 auto;

	.column {

		@include breakpoint(big) { @include grid_column(4); }
  		@include breakpoint(medium) { @include grid_column(4); }
 		@include breakpoint(small) { @include grid_column(12); }
	}

	.career {
		@extend .first;
	}

	.health {
		
	}

	.other {
		@extend .last;
	}
<<<<<<< HEAD
=======

}

section.auto-progress-tweeter {
	height: 100em;

>>>>>>> gh-pages
}

h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	padding: 0.25em 0;
	
	color: $white;
	font-weight: bold;
}

h1, .h1 {
	@include font-size(3);
	text-align: center;
	font-family: $serif;
	letter-spacing: -0.07em;
}

h1.site-name{

	@include text-shadow(rgba(white,0.3) 0.03em 0.03em 0, rgba(black, 0.8) 0.05em 0.05em 0.2em);

	padding: 1em 0 0 0;

	span {
		
	}

	.char7 {
		display: inline-block;
		@include rotate(25deg);
		margin-left: 0.1em;

	}


}

<<<<<<< HEAD
=======
h2 {
	@include text-shadow(rgba(white,0.3) 0.03em 0.03em 0, rgba(black, 0.8) 0.05em 0.05em 0.2em);
	@include rem-fallback('font-size', 1.8);

	.center {
		text-align: center;
	}
}


>>>>>>> gh-pages
h2.tag-line {
	padding: 0 0 3em 0 ;
	text-align: center;
	font-weight:normal;
	font-family: $sans-serif;
	text-transform: uppercase;
	@include text-shadow(rgba(black, 0.8) 0.1em 0.1em 0.2em );
}

<<<<<<< HEAD
=======


>>>>>>> gh-pages
h3 {
	@include font-size(1.5);
	font-weight: normal;
	@include text-shadow(rgba(white,0.3) 0.03em 0.03em 0, rgba(black, 0.8) 0.05em 0.05em 0.2em);
}

h4 {
	@include font-size(0.7);
	font-family: $sans-serif;
	font-weight: normal;
<<<<<<< HEAD
	letter-spacing: 0.2em;
=======
	letter-spacing: 0.1em;
}

ul.show-list li:before {
	content: ">";
>>>>>>> gh-pages
}

//How it's made drop down
aside { 

	.shadow-liner {
		width: 100%;
		height: 1em;
		
		
		@include box-shadow($black 0 0.25em 1em -0.25em);
		position: relative;
		

	}


	

	.description-shrink {
		padding: 2%;
		width: 80%;
		display: none;
		height: auto;
		color: $white;
		@include font-size(0.8);
		line-height: 1.3;
		letter-spacing: 0.01em;
		font-family: $sans-serif;
		
		p {
			padding: 0.5em 0;
		}

		a {
			color: $white;
			text-decoration: none;
		}

	}



	position: relative;
	@include clearfix;
	width: 90%;
	
	margin: 0 auto;
	
	.description-shrink, .pull-down-tab {
		
		margin: 0 auto;
		background: lighten($grey, 10);
		@include border-bottom-radius(5px);
		@include box-shadow(darken($grey,3) 0em 0.35em 0.5em);

	}




	.pull-down-tab {
		
		width: 60%;
		margin-bottom: 2.25em;
		text-align: center;
		@include rem-fallback(height, 1);
		cursor: pointer;
	
		.drop-down-arrow {
			display:inline-block;
			
		}
	}
}

<<<<<<< HEAD


=======
section.topper {
	border-bottom: 2px dashed darken($white, 50);
	margin-bottom: 0.5em;
}

//About this site

section.about-this {
	padding-bottom: 3em;
	p {
		text-indent: 2em;
		color: $white;
		padding: 0.5em;
		@include rem-fallback('font-size',0.8);
		line-height: 1.5;
		
	}

}
>>>>>>> gh-pages




//Progress bars
.progress ul li {
	margin-bottom: 2em;
}

.progress h5 {
	display:none;
}

.progressBar{
	width: 100%;
	height: 0.75em;
	border: 0.125em solid darken($grey,3);

	background: darken($grey,5);
	overflow:hidden;
	@include border-radius(25px);
}




.progressBar div {

	display:block;
	float: left;
	height: 1em;

}

.progressBar div::after {
	display: block;
	font-family: $sans-serif;
	color: $white;
	text-align:right;
	padding: 0 0.75em;
	@include font-size(0.6); 
	line-height: 1.25;
	font-weight:bold;
	

}


footer {
	margin: 0 auto;
	color: $white;
	@include font-size(0.8);
<<<<<<< HEAD
	color: lighten($grey,20);
	text-align:center;
}
=======

	text-align:center;

	a
	{
		color: $white; 
	}
}


>>>>>>> gh-pages
